#
# Dependabot configuration
#

# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:

# Maintain dependencies for .NET Core
- package-ecosystem: nuget
  directory: '/'
  schedule:
    interval: daily
  labels:
  - dependencies
  reviewers:
  - azure/psrule-rules-azure
  ignore:
  # Ignore upgrades to PS 7.1 for tool chain components at this time
  - dependency-name: Microsoft.PowerShell.SDK
  - dependency-name: System.Management.Automation

# Maintain dependencies for GitHub Actions
- package-ecosystem: 'github-actions'
  directory: '/'
  schedule:
    interval: daily
  labels:
  - ci-quality
  reviewers:
  - azure/psrule-rules-azure

# Maintain dependencies for Python
- package-ecosystem: pip
  directory: '/'
  schedule:
    interval: daily
  labels:
  - ci-quality
  reviewers:
  - azure/psrule-rules-azure
