# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

#
# Module Configuration for PSRule.Rules.Azure
#

---
# Synopsis: Module configuration for PSRule.Rules.Azure
apiVersion: github.com/microsoft/PSRule/v1
kind: ModuleConfig
metadata:
  name: PSRule.Rules.Azure
spec:
  binding:
    preferTargetInfo: true
    targetName:
    - ResourceName
    - name
    targetType:
    - ResourceType
    - type
    field:
      resourceId: [ 'ResourceId' ]
      subscriptionId: [ 'SubscriptionId' ]
      resourceGroupName: [ 'ResourceGroupName' ]
  configuration:
    AZURE_PARAMETER_FILE_EXPANSION: false
    AZURE_PARAMETER_FILE_METADATA_LINK: false
    AZURE_BICEP_FILE_EXPANSION: false

    # Configure minimum AKS cluster version
    AZURE_AKS_CLUSTER_MINIMUM_VERSION: '1.22.6'
    AZURE_DEPLOYMENT_SENSITIVE_PROPERTY_NAMES:
      - adminUsername
      - administratorLogin
      - administratorLoginPassword


  convention:
    include:
    - 'Azure.DeprecatedOptions'
    - 'Azure.ExpandTemplate'
    - 'Azure.BicepInstall'
    - 'Azure.ExpandBicep'
  rule:
    baseline: Azure.Default
  output:
    culture:
    - en
