# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

#
# Module Configuration for PSRule.Rules.Azure
#

---
# Synopsis: Module configuration for PSRule.Rules.Azure
apiVersion: github.com/microsoft/PSRule/v1
kind: ModuleConfig
metadata:
  name: PSRule.Rules.Azure
spec:
  binding:
    preferTargetInfo: true
    targetName:
    - ResourceName
    - name
    targetType:
    - ResourceType
    - type
    field:
      resourceId: [ 'ResourceId', 'id' ]
      subscriptionId: [ 'subscriptionId' ]
      resourceGroupName: [ 'resourceGroupName' ]
  configuration:
    # Enable expansion from .json files.
    AZURE_PARAMETER_FILE_EXPANSION: false
    AZURE_PARAMETER_FILE_METADATA_LINK: false

    # Enable expansion from .bicep files.
    AZURE_BICEP_FILE_EXPANSION: false

    # Enable expansion from .bicepparam files.
    AZURE_BICEP_PARAMS_FILE_EXPANSION: true

    # Check for a minimum version of the Bicep CLI.
    AZURE_BICEP_MINIMUM_VERSION: '0.4.451'
    AZURE_BICEP_CHECK_TOOL: false

    # Configures minimum AKS cluster version.
    AZURE_AKS_CLUSTER_MINIMUM_VERSION: '1.32.7'

    # Configures the minimum allowed max pods setting per node pool.
    AZURE_AKS_POOL_MINIMUM_MAXPODS: 50

    # Configures the minimum number of nodes across all system node pools.
    AZURE_AKS_CLUSTER_MINIMUM_SYSTEM_NODES: 3

    # Configures the minimum number of nodes in a user pool.
    AZURE_AKS_CLUSTER_USER_POOL_MINIMUM_NODES: 3

    # Configures user pools that are excluded from checking for minimum nodes.
    AZURE_AKS_CLUSTER_USER_POOL_EXCLUDED_FROM_MINIMUM_NODES: []

    # Configures minimum number of days allowed before certificate expiry.
    AZURE_APIM_MINIMUM_CERTIFICATE_LIFETIME: 30

    # Configures additional regions for App Gateway that support availability zones.
    AZURE_APPGW_ADDITIONAL_REGION_AVAILABILITY_ZONE_LIST: []

    AZURE_DEPLOYMENT_SENSITIVE_PROPERTY_NAMES:
    - adminUsername
    - administratorLogin
    - administratorLoginPassword

    AZURE_DEPLOYMENT_NONSENSITIVE_PARAMETER_NAMES: []

    # Configure Container Apps external ingress.
    AZURE_CONTAINERAPPS_RESTRICT_INGRESS: false

    # Enables checks when Azure Firewall is deployed in a zonal configuration.
    AZURE_FIREWALL_IS_ZONAL: false

    # Enables resource level checks for Defender for Storage.
    AZURE_STORAGE_DEFENDER_PER_ACCOUNT: false

    # Enables check for supported VMs use Azure Hybrid Benefit.
    AZURE_VM_USE_AZURE_HYBRID_BENEFIT: false

    # Enables checks for Multi-tenant Hosting Rights.
    AZURE_VM_USE_MULTI_TENANT_HOSTING_RIGHTS: false

    # Configure DNS is within the identity subscription.
    AZURE_VNET_DNS_WITH_IDENTITY: false

    # Exclude subnets by name from requiring and NSG.
    AZURE_VNET_SUBNET_EXCLUDED_FROM_NSG: []

    # Name format defaults.
    AZURE_AI_SEARCH_NAME_FORMAT: ''
    AZURE_AI_SERVICES_NAME_FORMAT: ''
    AZURE_AKS_CLUSTER_NAME_FORMAT: ''
    AZURE_AKS_SYSTEM_POOL_NAME_FORMAT: ''
    AZURE_AKS_USER_POOL_NAME_FORMAT: ''
    AZURE_APP_INSIGHTS_NAME_FORMAT: ''
    AZURE_CONTAINER_APP_NAME_FORMAT: ''
    AZURE_CONTAINER_APP_ENVIRONMENT_NAME_FORMAT: ''
    AZURE_CONTAINER_APP_JOB_NAME_FORMAT: ''
    AZURE_CONTAINER_INSTANCE_NAME_FORMAT: ''
    AZURE_CONTAINER_REGISTRY_NAME_FORMAT: ''
    AZURE_COSMOS_CASSANDRA_NAME_FORMAT: ''
    AZURE_COSMOS_DATABASE_NAME_FORMAT: ''
    AZURE_COSMOS_GREMLIN_NAME_FORMAT: ''
    AZURE_COSMOS_MONGO_NAME_FORMAT: ''
    AZURE_COSMOS_NOSQL_NAME_FORMAT: ''
    AZURE_COSMOS_POSTGRESQL_NAME_FORMAT: ''
    AZURE_COSMOS_TABLE_NAME_FORMAT: ''
    AZURE_EVENTGRID_DOMAIN_NAME_FORMAT: ''
    AZURE_EVENTGRID_CUSTOM_TOPIC_NAME_FORMAT: ''
    AZURE_EVENTGRID_SYSTEM_TOPIC_NAME_FORMAT: ''
    AZURE_GATEWAY_CONNECTION_NAME_FORMAT: ''
    AZURE_LOAD_BALANCER_NAME_FORMAT: ''
    AZURE_LOG_WORKSPACE_NAME_FORMAT: ''
    AZURE_MYSQL_SERVER_NAME_FORMAT: ''
    AZURE_NETWORK_SECURITY_GROUP_NAME_FORMAT: ''
    AZURE_POSTGRESQL_SERVER_NAME_FORMAT: ''
    AZURE_PUBLIC_IP_ADDRESS_NAME_FORMAT: ''
    AZURE_REDIS_CACHE_NAME_FORMAT: ''
    AZURE_REDIS_ENTERPRISE_NAME_FORMAT: ''
    AZURE_RESOURCE_GROUP_NAME_FORMAT: ''
    AZURE_ROUTE_TABLE_NAME_FORMAT: ''
    AZURE_SERVICE_FABRIC_CLUSTER_NAME_FORMAT: ''
    AZURE_SERVICE_FABRIC_MANAGED_CLUSTER_NAME_FORMAT: ''
    AZURE_SQL_DATABASE_NAME_FORMAT: ''
    AZURE_SQL_ELASTIC_POOL_NAME_FORMAT: ''
    AZURE_SQL_JOB_AGENT_NAME_FORMAT: ''
    AZURE_SQL_MI_NAME_FORMAT: ''
    AZURE_SQL_SERVER_NAME_FORMAT: ''
    AZURE_STORAGE_ACCOUNT_NAME_FORMAT: ''
    AZURE_VIRTUAL_MACHINE_NAME_FORMAT: ''
    AZURE_VIRTUAL_NETWORK_GATEWAY_NAME_FORMAT: ''
    AZURE_VNET_NAME_FORMAT: ''
    AZURE_VNET_SUBNET_NAME_FORMAT: ''

    # Tag format defaults.
    AZURE_RESOURCE_REQUIRED_TAGS: []
    AZURE_RESOURCE_GROUP_REQUIRED_TAGS: []
    AZURE_SUBSCRIPTION_REQUIRED_TAGS: []

  convention:
    include:
    - Azure.Context
    - Azure.DeprecatedOptions
    - Azure.ExpandTemplate
    - Azure.BicepInstall
    - Azure.ExpandBicep
    - Azure.ExpandBicepParam
  rule:
    baseline: Azure.Default
  output:
    culture:
    - en
