#
# Build documentation site
#

# NOTES:
# This workflow generates and published the documentation site https://azure.github.io/PSRule.Rules.Azure/.

name: Build and deploy docs
on:
  push:
    branches:
    - main

jobs:
  deploy:
    name: Publish docs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: Checkout
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 0

      - name: Configure
        run: |
          git config user.name github-actions
          git config user.email '41898282+github-actions[bot]@users.noreply.github.com'

      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'
          architecture: 'x64'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install wheel
          python3 -m pip install -r requirements-docs.txt

      - name: Build docs
        run: |
          Install-Module InvokeBuild -MinimumVersion 5.4.0 -Scope CurrentUser -Force
          Invoke-Build BuildDocs
        shell: pwsh

      - name: Build site
        run: mkdocs build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
